$grey-800: hsl(234.5, 16.4%, 13.1%);
$grey-800-inverted: hsl(234.5, 16.4%, 65%);

$cosmic-blue-400: hsl(234.2, 74.3%, 58.8%);
$cosmic-blue-300: hsl(234, 74.6%, 62.9%);
$cosmic-blue-200: hsl(233.8, 74%, 66.9%);
$cosmic-blue-100: hsl(234.5, 74.1%, 71.2%);

$supernova-red-300: hsl(0, 98.7%, 70.4%);
